@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&family=Pixelify+Sans:wght@400;500;600&display=swap');

/* General styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

header {
    height: fit-content;
    width: 100%;
    background-color: #160027;
    align-items: center;
    /* Header is atop and always shown*/
    z-index: 99;
    position: fixed;
    /* Border */
    box-shadow: 0 2px 2px darkgrey;
}

header a {
    text-transform: uppercase;
    letter-spacing: -2px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 600;
}

h1 {
    padding: 10px 30px;
}

main {
    flex: 1 0 auto;
    height: fit-content;
    width: 100%;
    font-family: 'Ysabeau Infant', sans-serif;
}

footer {
    height: fit-content;
    width: 100%;
    background-color: #160027;
    color: #ffffff;
}

footer div {
    text-align: start;
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: 400;
    padding: 10px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#intro {
    height: 800px;
    width: 100%;
    background: url("../img/NightSky8bit.webp") no-repeat center top/cover;
    position: relative;
}